.avatar.avatar-circle {
    width: 100px !important; /* Set your desired width */
    height: 100px !important; /* Set your desired height */
    border-radius: 50%; /* Ensure it remains circular */
}
