{{ $show_navbar := ((site.Params.header.navbar.enable | default true) | and (ne .Params.header.navbar.enable false)) | or .Params.header.navbar.enable }}
{{ if $show_navbar }}

{{ $current_page := . }}
{{ $highlight_active_link := site.Params.header.navbar.highlight_active_link | default true }}
{{ $show_current_language := site.Params.header.navbar.show_language | default false }}

{{/* Get site logo. */}}
{{ $show_logo := site.Params.header.navbar.show_logo | default true }}
{{ $has_logo := fileExists "assets/media/logo.png" | or (fileExists "assets/media/logo.svg") }}
{{ $logo := "" }}
{{ if $has_logo }}
  {{ $logo = (partial "blox-core/functions/get_logo" (dict "constraint" "max_height" "size" 70)) }}
{{ end }}

<header>
  <nav class="navbar navbar-expand-lg navbar-light compensate-for-scrollbar" id="navbar-main">
    <div class="container-xl">

      {{if $show_logo}}
      <div class="d-none d-lg-inline-flex">
        <a class="navbar-brand" href="{{ site.Home.RelPermalink }}">
          {{- if $has_logo -}}
            <img src="{{ $logo.RelPermalink }}" alt="{{ site.Title }}"
            {{with site.Params.header.image.width}}width="{{.}}"{{end}}
            {{with site.Params.header.image.height}}height="{{.}}"{{end}} />
          {{- else -}}
            {{- site.Title -}}
          {{- end -}}
        </a>
      </div>
      {{end}}

      {{ if site.Menus.main }}
      <button type="button" class="navbar-toggler" data-toggle="collapse"
              data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="{{ i18n "toggle_navigation" }}">
      <span><i class="fas fa-bars"></i></span>
      </button>
      {{ end }}

      {{if $show_logo}}
      <div class="navbar-brand-mobile-wrapper d-inline-flex d-lg-none">
        <a class="navbar-brand" href="{{ site.Home.RelPermalink }}">
        {{- if $has_logo -}}
          <img src="{{ $logo.RelPermalink }}" alt="{{ site.Title }}"
          {{with site.Params.header.image.width}}width="{{.}}"{{end}}
          {{with site.Params.header.image.height}}height="{{.}}"{{end}} />
        {{- else -}}
          {{- site.Title -}}
        {{- end -}}
        </a>
      </div>
      {{end}}

      <!-- Collect the nav links, forms, and other content for toggling -->
      {{ $align_menu := site.Params.header.navbar.align | default "l" }}
      <div class="navbar-collapse main-menu-item collapse {{ if eq $align_menu "c" }}justify-content-center{{ else if eq $align_menu "r" }}justify-content-end{{else}}justify-content-start{{ end }}" id="navbar-content">

        <!-- Left Nav Bar -->
        <ul class="navbar-nav d-md-inline-flex">
          {{ range site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
              {{- .Pre -}}<span>{{ .Name | safeHTML }}</span>{{- .Post -}}
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
                <a class="dropdown-item" href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>{{ .Name | safeHTML }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link {{if and $highlight_active_link .IsActive}} active{{end}}" href="{{.URL | relLangURL}}">
              {{- .Pre -}}<span>{{ .Name | safeHTML }}</span>{{- .Post -}}
            </a>
          </li>
          {{ end }}
          {{ end }}
        </ul>

        <!-- Right Nav Bar -->
        <ul class="navbar-nav ml-auto">
          {{ range site.Menus.main_right }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | relLangURL }}">
              {{- .Pre -}}<span>{{ .Name | safeHTML }}</span>{{- .Post -}}
            </a>
          </li>
          {{ end }}
        </ul>

        <!-- Theme Toggle Button (Sun/Moon) -->
        <ul class="navbar-nav flex-row ml-auto d-flex pl-md-2">
          <li class="nav-item">
            <a class="nav-link js-toggle-theme" href="#" aria-label="{{ i18n "theme_toggle" | default "Toggle theme" }}">
              <i class="fas fa-sun theme-icon-light" aria-hidden="true"></i>
              <i class="fas fa-moon theme-icon-dark" aria-hidden="true"></i>
            </a>
          </li>
        </ul>

      </div><!-- /.navbar-collapse -->

    </div><!-- /.container -->
  </nav>
</header>

{{end}}{{/* End show navbar. */}}
